@model IEnumerable<FribergCarRental.ViewModels.RentalRecordViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Bokningar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Rental.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Rental.RentalStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Rental.RentalEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Rental.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Rental.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rental.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rental.RentalStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rental.RentalEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rental.Car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)&nbsp;SEK
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rental.Customer.FirstName)
                    @Html.DisplayFor(modelItem => item.Rental.Customer.LastName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Rental.Id">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.Rental.Id">Ta Bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
