@model IEnumerable<FribergCarRental.ViewModels.RentalRecordViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Bokningsregister</h1>

<table class="table table-bordered table-hover text-center table-striped">
    <thead class="table-dark">
        <tr>
            <th>Status</th>
            <th>Startdatum</th>
            <th>Slutdatum</th>
            <th>Bil</th>
            <th>Total summa</th>
            <th>Kund</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Rental.Status)</td>
                <td>@item.Rental.RentalStart</td>
                <td>@item.Rental.RentalEnd</td>
                <td>@item.Rental.Car.Model</td>
                <td>@item.TotalPrice &nbsp;SEK</td>
                <td>
                    @item.Rental.Customer.FirstName
                    @item.Rental.Customer.LastName
                </td>
                <td>
                    <div class="d-flex gap-2 justify-content-start">   
                    <a asp-action="Details" asp-route-id="@item.Rental.Id" class="btn btn-sm btn-info">
                        <i class="bi bi-eye"></i> Detaljer
                    </a>
                    @if (item.Rental.Status == FribergCarRental.Data.Enums.RentalStatus.Upcoming)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Rental.Id" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i> Ta bort
                        </a>
                    }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
