@* @model FribergCarRental.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>Kunder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Postalcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Postalcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Ändra</a> |
    <a asp-action="Index">Tillbaka</a>
</div>
 *@
@model FribergCarRental.Models.Customer

@{
    ViewData["Title"] = "Detaljer";
}

<div class="container col-md-6">
    <div class="card shadow-lg p-4">
        <h4 class="card-title mb-3 text-center">Kunddetaljer</h4>

        <div class="mb-3">
            <strong>Förnamn:</strong> @Html.DisplayFor(model => model.FirstName)
        </div>

        <div class="mb-3">
            <strong>Efternamn:</strong> @Html.DisplayFor(model => model.LastName)
        </div>

        <div class="mb-3">
            <strong>Telefonnummer:</strong> @Html.DisplayFor(model => model.Phone)
        </div>

        <div class="mb-3">
            <strong>Adress (Gata):</strong> @Html.DisplayFor(model => model.Address.Street)
        </div>

        <div class="mb-3">
            <strong>Postnummer:</strong> @Html.DisplayFor(model => model.Address.Postalcode)
        </div>

        <div class="mb-3">
            <strong>Stad:</strong> @Html.DisplayFor(model => model.Address.City)
        </div>

        <div class="mb-3">
            <strong>E-post:</strong> @Html.DisplayFor(model => model.Email)
        </div>

        <div class="mb-3">
            <strong>Användarnamn:</strong> @Html.DisplayFor(model => model.UserName)
        </div>

        <div class="mb-3">
            <strong>Lösenord:</strong> @Html.DisplayFor(model => model.Password)
        </div>

        <div class="mb-3">
            <strong>Roll:</strong> @Html.DisplayFor(model => model.Role)
        </div>
        <div class="mb-3">
            <strong>ID:</strong> @Html.DisplayFor(model => model.Id)
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
                <i class="bi bi-pencil"></i> Ändra
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Tillbaka
            </a>
        </div>
    </div>
</div>

