@model IEnumerable<FribergCarRental.Models.User>

@{
    ViewData["Title"] = "Kundregister";
}

<h1 class="card-header admin-header text-center mb-4">@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i> Skapa ny kund</a>
</p>

<table class="table table-bordered table-hover text-center table-striped">
    <thead class="table-dark">
        <tr>
            <th>Kundnummer</th>
            <th>E-post</th>
            <th>Användarnamn</th>
            <th>Lösenord</th>
            <th>Roll</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Role == FribergCarRental.Data.Enums.Role.Customer)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td>@item.UserName</td>
                    <td>******</td>
                    <td>@item.Role</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                            <i class="bi bi-pencil"></i> Ändra
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                            <i class="bi bi-eye"></i> Detaljer
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i> Ta bort
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

