@model Dictionary<string, object>

<div class="card p-4">
    <h4 class="card-header mb-3 text-center">@ViewData["Title"]</h4>

    @foreach (var detail in Model)
    {
        <div class="mb-3">
            <strong>@detail.Key:</strong> @detail.Value
        </div>
    }

    <div class="d-flex justify-content-between mt-4">
        @if (ViewData["DeleteAction"] != null)
        {
            if (ViewData["Aktivera"] != null)
            {
                <form asp-action="@ViewData["DeleteAction"]" method="post">
                    <input type="hidden" name="UserId" value="@ViewData["ItemId"]" />
                    <input type="submit" value="@ViewData["Aktivera"]" class="btn btn-danger" />
                </form>
            }
            else if (ViewData["Inaktivera"] != null)
            {
                <form asp-action="@ViewData["DeleteAction"]" method="post">
                    <input type="hidden" name="UserId" value="@ViewData["ItemId"]" />
                    <input type="submit" value="@ViewData["Inaktivera"]" class="btn btn-danger" />
                </form>
            }
            else
            {
                <form asp-action="@ViewData["DeleteAction"]" method="post">
                    <input type="hidden" name="UserId" value="@ViewData["ItemId"]" />
                    <input type="submit" value="Ta bort" class="btn btn-danger" />
                </form>
            }
        }

        <a asp-action="@ViewData["BackAction"]" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Tillbaka
        </a>
    </div>
</div>