<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FribergCarRental</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRental.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container centered-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/BigLogo.png" width="30" height="30" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="Index">Våra bilar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Car" asp-action="RentCar">Boka</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Om oss</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex justify-content-end">
                        @if (Context.Session.GetString("UserRole") != null)
                        {
                            <li class="nav-item dropdown">
                                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Inloggad: @Context.Session.GetString("UserName")</span>
                                </button>
                                <ul class="dropdown-menu ">
                                    @if (Context.Session.GetString("UserRole") == "Admin")
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="AdminDashboard"><i class="fa-solid fa-house"></i> | Admin Dashboard</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminAccount" asp-action="Index"><i class="fa-solid fa-users"></i> | Hantera konton</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminCar" asp-action="Index"><i class="fa-solid fa-car"></i> | Hantera bilar</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="AdminRental" asp-action="Index"><i class="fa-regular fa-rectangle-list"></i> | Hantera bokningar</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i> | Logga ut</a></li>
                                    }
                                    @if (Context.Session.GetString("UserRole") == "Customer")
                                    {
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="Index"><i class="fa-regular fa-rectangle-list"></i> | Mina bokningar</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i> | Logga ut</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (Context.Session.GetString("UserRole") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Create">Skapa konto</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container centered-container mt-4">
        <main role="main" class="pb-3">
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="toastContainer" class="toast-container toast-custom">
                    <div id="successToast" class="toast show bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Information</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            @TempData["SuccessMessage"]
                        </div>
                    </div>
                </div>
            }
            @if (TempData["WarningMessage"] != null)
            {
                <div id="toastContainer" class="toast-container toast-custom">
                    <div id="successToast" class="toast show bg-warning text-white" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Information</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            @TempData["WarningMessage"]
                        </div>
                    </div>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="bg-light footer text-muted text-center border-top">
        <div class="container centered-container align-items-center">
            &copy; 2025 - Friberg Car Rentals AB | <a asp-area="" asp-controller="Home" asp-action="Privacy">Om oss</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/c3adebd6e3.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
