@model IEnumerable<FribergCarRental.ViewModels.RentalViewModel>

@{
    ViewData["Title"] = "AvailableCars";
}

<h1>AvailableCars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="text-left">
        <h3>Våra bilar</h3>
        <hr />
    </div>
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {

            var firstImage = item.Car.Images.FirstOrDefault();
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card" style="width: 100%;">
                    <img src="@firstImage?.ImageUrl" class="card-img-top" alt="@item.Car.Model">
                    <div class="card-body">
                        <h5 class="card-title">@item.Car.Model - @item.Car.Year</h5>
                        <p class="card-text">@item.Car.Description</p>
                        <p><strong>@item.Car.Price</strong> kr/dygn</p>

                        <form asp-controller="Rental" asp-action="ConfirmRental" method="get">                            
                            <input type="hidden" name="carId" value="@item.Car.Id" />
                            <input type="hidden" name="startDate" value="@item.StartDate.ToString("yyyy-MM-dd")" />
                            <input type="hidden" name="endDate" value="@item.EndDate.ToString("yyyy-MM-dd")" />
                            <button type="submit" class="btn btn-primary">Boka</button>
                        </form>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Car.Id">Detaljer</a>

                    </div>
                </div>
            </div>

        }

    </div>
</div>