@model IEnumerable<FribergCarRental.ViewModels.RentalViewModel>

@{
    ViewData["Title"] = "AvailableCars";
}

<h2>Tillgängliga bilar under perioden</h2>

<div class="container">    
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {

            var firstImage = item.Car.Images.FirstOrDefault();
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card" style="width: 100%; border-radius: 15px;">
                    <img src="@firstImage?.ImageUrl" class="card-img-top" alt="@item.Car.Model" style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@item.Car.Model - @item.Car.Year</h5>
                        <p class="card-text text-truncate">@item.Car.Description</p>
                        <p><strong>@item.Car.Price</strong> kr/dygn</p>
                        <div class="mt-auto d-flex justify-content-between">
                            <form asp-controller="Car" asp-action="RentCar" method="get">
                                <input type="hidden" name="carId" value="@item.Car.Id" />
                                <button type="submit" class="btn btn-primary btn-sm">Boka</button>
                            </form>
                            <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Car.Id">Detaljer</a>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>