@model FribergCarRental.ViewModels.RentalViewModel

@{
    ViewData["Title"] = "ConfirmRental";
}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-lg rounded-3">
            <h4 class="card-header">
                Bekräfta bokning
            </h4>
            <div class="card-body">
                <h5 class="card-title mb-3"><strong>Från:</strong> @Model.StartDate</h5>
                <h5 class="card-title mb-3"><strong>Till:</strong> @Model.EndDate</h5>
                <table class="table table-bordered table-hover text-center table-striped mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th>Bil</th>
                            <th>Från</th>
                            <th>Till</th>
                            <th>Pris per dygn</th>
                            <th>Total Summa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Car.Model</td>
                            <td>@Model.StartDate</td>
                            <td>@Model.EndDate</td>
                            <td>@Model.Car.Price</td>
                            <td>@(ViewBag.TotalPrice ?? "Price not available") kr</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end gap-3 mt-3">
                    <form method="post" asp-controller="Rental" asp-action="Create">
                        <input type="hidden" asp-for="Car.Model" value="@Model.Car.Model" />
                        <input type="hidden" asp-for="StartDate" value="@Model.StartDate" />
                        <input type="hidden" asp-for="EndDate" value="@Model.EndDate" />
                        <input type="hidden" asp-for="Car.Price" value="@Model.Car.Price" />
                        <input type="hidden" asp-for="Car.Id" value="@Model.Car.Id" />

                        <div class="form-group">
                            <input type="submit" value="Boka" class="btn btn-primary px-5" />
                        </div>
                    </form>

                    <a asp-action="AvailableCars" asp-controller="Rental"
                       asp-route-CarId="@Model.Car.Id"
                       asp-route-StartDate="@Model.StartDate"
                       asp-route-EndDate="@Model.EndDate"
                       class="btn btn-secondary">Tillbaka</a>

                </div>
            </div>
        </div>
    </div>
</div>