@model FribergCarRental.ViewModels.RentalViewModel

@{
    ViewData["Title"] = "RentalSuccess";
}

<h1>Din bokning är nu bekräftad</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car.Price)
            </th>
            <th>
                Total summa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Car.Price)
            </td>
            <td>
            @ViewBag.TotalPrice
            </td>
        </tr>

    </tbody>
</table>
