@model IEnumerable<FribergCarRental.Models.Rental>

@{
    ViewData["Title"] = "Index";
}

<h1>Bokningar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentalEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Model)
                </td>
                <td>
                    @if (item.Status == FribergCarRental.Data.Enums.RentalStatus.Upcoming)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>                
            </tr>
        }
    </tbody>
</table>
