@model FribergCarRental.Models.Car

@{
    ViewData["Title"] = "Ändra status";
    ViewData["BackAction"] = "Index";
    ViewData["DeleteAction"] = "Delete";
    @if (Model.IsActive == false)
    {
        ViewData["Aktivera"] = "Aktivera";
    }
    else
    {
        ViewData["Inaktivera"] = "Inaktivera";
    }
    ViewData["ItemId"] = Model.Id;

    var details = new Dictionary<string, object>
    {
        { "Märke", Model.Model },
        { "Årsmodell", Model.Year },
        { "Pris per dygn", Model.Price },
        { "Beskrivning", Model.Description },
        { "Status", Model.IsActive },
    };
}

<div class="container col-md-6">
    @Html.Partial("_DeleteCard", details)
</div>



@* @model FribergCarRental.Models.Car

@{
    ViewData["Title"] = "SoftDelete";
}

<h1>Inaktivera</h1>

<h3>Är du säker på att du vill inaktivera denna bil?</h3>
<div>
    <h4>Bil-ID: @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    
    <form asp-action="SoftDelete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Inaktivera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka</a>
    </form>
</div>
 *@