@model FribergCarRental.Models.Car

@{
    ViewData["Title"] = "Detaljer";
    ViewData["EditAction"] = "Edit";
    ViewData["BackAction"] = "Index";
    ViewData["ItemId"] = Model.Id;

    var details = new Dictionary<string, object>
    {
        { "Märke", Model.Model },
        { "Årsmodell", Model.Year },
        { "Pris/dygn", Model.Price },
        { "Beskrivning", Model.Description },
        { "Status", Model.IsActive },
    };
}

<div class="container col-md-6">
    @Html.Partial("_DetailsCard", details)
</div>

@* @{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>Bil-ID: @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Ändra</a> |
    <a asp-action="Index">Tillbaka</a>
</div> *@
