@model IEnumerable<FribergCarRental.Models.Car>

@{
    ViewData["Title"] = "Index";
}
<h1 class="mb-4">Bilregister</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Skapa ny Bil</a>
</p>

<table class="table table-bordered table-hover text-center table-striped">
    <thead class="table-dark">
        <tr>
            <th>Modell</th>
            <th>Årsmodell</th>
            <th style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Beskrivning</th>
            <th>Pris per dygn</th>
            <th>Status</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Model</td>
                <td>@item.Year</td>
                <td title ="@item.Description" style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Description</td>
                <td>@item.Price</td>
                <td>@item.IsActive</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil"></i> Ändra
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                        <i class="bi bi-eye"></i> Detaljer
                    </a>
                    <a asp-action="SoftDelete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i> Inaktivera
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
