@model IEnumerable<FribergCarRental.Models.Car>

@{
    ViewData["Title"] = "Index";
}
<h1 class="card-header text-center admin-header mb-4">Bilregister</h1>
<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i> Skapa ny Bil</a>
</p>

<table class="table table-bordered bg-light table-hover text-center table-striped">
    <thead class="table-dark">
        <tr>
            <th>Modell</th>
            <th>Årsmodell</th>
            <th>Bilder</th>
            <th>Pris per dygn</th>
            <th>Status</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Model</td>
                <td>@item.Year</td>
                <td>
                    @foreach (var imgUrl in item.Images)
                    {
                        <img src="@imgUrl.ImageUrl" width="70" height="50" />
                    }
                </td>
                <td>@item.Price</td>
                <td>@(item.IsActive ?? false ? "Aktiv" : "Ej i bruk")
                    
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil"></i> Ändra
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                        <i class="bi bi-eye"></i> Detaljer
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i> <span>@(item.IsActive.GetValueOrDefault() ? "Inaktivera" : "Aktivera")</span>

                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
